USE [IFA]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************
	Name: uspProcessItemReverseRequest
	CreatedBy: Larry Dugger
	Description: This procedure will initiate a singular Process Item reversal
		It performs limited checking (i.e. does this item exist.)
	Tables: [ifa].[Process]
		,[ifa].[Item]
		,[common].[ItemStatus]

	Functions: [common].[ufnDimension]
		,[common].[ufnItemStatus]
		,[common].[ufnTransactionType]
		,[ifa].[ufnProcessMethodologyDeux]
	Procedures: [error].[uspLogErrorDetailInsertOut]
	History:
		2020-07-30 - LBD - Created
		2020-09-13 - LBD - Replace [ifa].[ufnProcessMethodology] with
			[ifa].[ufnProcessMethodologyDeux]
*****************************************************************************************/
ALTER   PROCEDURE [ifa].[uspProcessItemReverseRequest](
	@pnvProcessKey NVARCHAR(25)							--aka TransactionKey
	,@piOrgId INT										--This is the system id for a given locationid
	,@pnvItemKey NVARCHAR(25)
	,@pnvUserName NVARCHAR(100) = 'N/A'
	,@pbiReverse BIGINT OUTPUT
	,@pnvMsg NVARCHAR(100) OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @tblItem [ifa].[ItemType]
		,@tblOL [ifa].[OrgListType];
	DECLARE @Item table (
		ItemId bigint
		,ItemTypeId int
		,ProcessId bigint
		,PayerId bigint
		,ItemKey nvarchar(25) 
		,ClientItemId nvarchar(50)
		,CheckNumber nvarchar(50)
		,CheckAmount money
		,CheckTypeId int
		,ItemTypeDate date
		,Fee money
		,Amount money
		,MICR nvarchar(255)
		,Scanned bit
		,RuleBreak nvarchar(25)
		,RuleBreakResponse nvarchar(255)
		,ItemStatusId int
		,InsertedItemStatusId int
		,ClientAcceptedId int
		,OriginalPayerId int
		,AcctChkNbrSwitch bit
		,StatusFlag int
		,DateActivated datetime2(7)
		,InsertedDateActivated datetime2(7)
		,UserName nvarchar(100)
	);
	DECLARE @iLogLevel int = ISNULL(TRY_CONVERT(INT,[common].[ufnConfigValue](N'LogLevel [ifa].[uspProcessItemReverseRequest]')),1)  
		,@dtTimerDate datetime2(7) = SYSDATETIME()
		,@dtInitial datetime2(7) = SYSDATETIME() --used for complete time in procedure
		,@ncSchemaName nchar(20) = CONVERT(nchar(20),OBJECT_SCHEMA_NAME( @@PROCID ))
		,@ncObjectName nchar(50) = CONVERT(nchar(50),OBJECT_NAME( @@PROCID ))
		,@sSchemaName nvarchar(128) = OBJECT_SCHEMA_NAME( @@PROCID )
		,@iOrgId int = @piOrgId
		,@ncProcessKey nchar(25) = @pnvProcessKey
		,@nvProcessKey nvarchar(25) = @pnvProcessKey
		,@iReverseItemStatusId int = [common].[ufnItemStatus]('Reversed')
		,@iFinalItemStatusId int = [common].[ufnItemStatus]('Final')
		,@biPayerId bigint = 0
		,@nvCheckNumber nvarchar(50)
		,@iErrorDetailId int
		,@iCurrentTransactionLevel int
		,@iItemStatus int
		,@iProcessItemCount int = 0
		,@bRetail bit = 0
		,@iOrgDimensionId int = [common].[ufnDimension]('Organization')
		,@iProcessMethodology int
		--,@iOrgClientId int = [common].[ufnOrgClientId](@piOrgId)
		,@nvItemKey nvarchar(25) = @pnvItemKey
		,@iProcessTypeId int;

	SET @pnvMsg = NULL;

	IF @iLogLevel > 0
	BEGIN
		INSERT INTO [dbo].[IFATiming](ProcessKey,SchemaName,ObjectName,Msg,Microseconds,DateExecuted)
		VALUES (@ncProcessKey,@ncSchemaName,@ncObjectName,N'Enter' ,DATEDIFF(microsecond,@dtTimerDate,SYSDATETIME()),SYSDATETIME());
		SET @dtTimerDate = SYSDATETIME();
	END

	SET @iCurrentTransactionLevel = @@TRANCOUNT;
	SET @pbiReverse = -1; -- ASSUME error

	--SET @iProcessMethodology = [ifa].[ufnProcessMethodology](@iOrgClientId,@iOrgId) --2020-09-13

	BEGIN TRANSACTION
	BEGIN TRY
		UPDATE i
		SET  @iProcessItemCount = 1
			,@iItemStatus = ItemStatusId 
			,@bRetail = [common].[ufnRetail](p.ProcessTypeId)
			,@iProcessTypeId = p.ProcessTypeId
			,ItemStatusId = CASE WHEN i.ItemStatusId <> @iReverseItemStatusId THEN @iReverseItemStatusId ELSE i.ItemStatusId END
			,DateActivated = CASE WHEN i.ItemStatusId <> @iReverseItemStatusId THEN SYSDATETIME() ELSE i.DateActivated END
			,UserName = CASE WHEN i.ItemStatusId <> @iReverseItemStatusId THEN @pnvUserName ELSE i.UserName END
		OUTPUT deleted.ItemId
			,deleted.ItemTypeId
			,deleted.ProcessId
			,deleted.PayerId
			,deleted.ItemKey
			,deleted.ClientItemId
			,deleted.CheckNumber
			,deleted.CheckAmount
			,deleted.CheckTypeId
			,deleted.ItemTypeDate
			,deleted.Fee
			,deleted.Amount
			,deleted.MICR
			,deleted.Scanned
			,deleted.RuleBreak
			,deleted.RuleBreakResponse
			,deleted.ItemStatusId
			,inserted.ItemStatusId
			,deleted.ClientAcceptedId
			,deleted.OriginalPayerId
			,deleted.AcctChkNbrSwitch
			,deleted.StatusFlag
			,deleted.DateActivated 
			,inserted.DateActivated 
			,deleted.UserName 
		INTO @Item
		FROM [ifa].[Item] i
		INNER JOIN [ifa].[Process] p on i.ProcessId = p.ProcessId
		WHERE p.ProcessKey = @nvProcessKey
			AND p.OrgId = @piOrgId
			AND i.ItemKey = @nvItemKey;

		--2018-08-31
		SELECT @pbiReverse = ProcessId
		FROM @Item;

		IF @iProcessItemCount = 0 
		BEGIN
			IF @@TRANCOUNT > @iCurrentTransactionLevel
				ROLLBACK TRANSACTION;
			IF @iLogLevel > 0
				INSERT INTO [dbo].[IFATiming](ProcessKey,SchemaName,ObjectName,Msg,Microseconds,DateExecuted)
				VALUES (@ncProcessKey,@ncSchemaName,@ncObjectName,N'TransactionKey and Item Confirmations Disconnect',DATEDIFF(microsecond,@dtTimerDate,SYSDATETIME()),SYSDATETIME()); 
			SET @pnvMsg = 'Your Transaction Key doesn''t match'
			SET @pbiReverse = -1;
			RETURN
		END
		ELSE IF @iItemStatus = @iReverseItemStatusId
		BEGIN
			IF @@TRANCOUNT > @iCurrentTransactionLevel
				ROLLBACK TRANSACTION;
			IF @iLogLevel > 0
				INSERT INTO [dbo].[IFATiming](ProcessKey,SchemaName,ObjectName,Msg,Microseconds,DateExecuted)
				VALUES (@ncProcessKey,@ncSchemaName,@ncObjectName,N'Item Reversals not valid for Reversed Status',DATEDIFF(microsecond,@dtTimerDate,SYSDATETIME()),SYSDATETIME());  
			SET @pnvMsg = 'This item has already been reversed'
			SET @pbiReverse = @pbiReverse * -1;
			RETURN
		END
		--2018-08-31
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > @iCurrentTransactionLevel
			ROLLBACK TRANSACTION;
		EXEC [error].[uspLogErrorDetailInsertOut] @psSchemaName = @sSchemaName, @piErrorDetailId=@iErrorDetailId OUTPUT;
		IF @iLogLevel > 0
			INSERT INTO [dbo].[IFATiming](ProcessKey,SchemaName,ObjectName,Msg,Microseconds,DateExecuted)
			VALUES (@ncProcessKey,@ncSchemaName,@ncObjectName,N'Exit-ErrorDetailId ='+CONVERT(NCHAR(10),@iErrorDetailId),DATEDIFF(microsecond,@dtTimerDate,SYSDATETIME()),SYSDATETIME());  
		THROW;
	END CATCH;
	IF @@TRANCOUNT > @iCurrentTransactionLevel
	BEGIN
		COMMIT TRANSACTION;
		IF @iLogLevel > 1
		BEGIN
			INSERT INTO [dbo].[IFATiming](ProcessKey,SchemaName,ObjectName,Msg,Microseconds,DateExecuted)
			VALUES (@ncProcessKey,@ncSchemaName,@ncObjectName,N'Update Items',DATEDIFF(microsecond,@dtTimerDate,SYSDATETIME()),SYSDATETIME());  
			SET @dtTimerDate = SYSDATETIME();
		END

		--REMOVE Reversal from DuplicateItem, if it was a finalstatus, with no rule break
		SELECT @biPayerId = PayerId
			,@nvCheckNumber = CheckNumber
		FROM @Item
		WHERE ItemStatusId = @iFinalItemStatusId
			AND RuleBreak = '0';
		IF @biPayerId <> 0
			EXECUTE [condensed].[uspDuplicateItemDelete2] @pbiPayerId=@biPayerId,@pnvCheckNumber=@nvCheckNumber;

		--PROVIDE what ItemActivityUpdate needs
		INSERT INTO @tblItem(ItemId,ItemStatusId,DateActivated)
		SELECT ItemId,InsertedItemStatusId,InsertedDateActivated
		FROM @Item;
		--2020-09-13	
		INSERT INTO @tblOL (LevelId, RelatedOrgId, OrgId, OrgCode, OrgName, ExternalCode, OrgDescr, OrgTypeId, [Type], StatusFlag)
		SELECT LevelId, ChildId, OrgId, OrgCode, OrgName, ExternalCode, OrgDescr, TypeId, [Type], StatusFlag
		FROM [common].[ufnUpDimensionByOrgIdILTF](@iOrgId,@iOrgDimensionId); 

		SELECT @iProcessMethodology = ProcessMethodologyId
		FROM [ifa].[ufnProcessMethodologyDeux](@tblOL,@iProcessTypeId);

		--UPDATE ItemActivity via procedure
		EXECUTE [ifa].[uspItemActivityUpdate]
			 @ptblItem = @tblItem
			,@piProcessMethodology = @iProcessMethodology
			,@pncProcessKey = @ncProcessKey
			,@pnvSrc = @ncObjectName;	--uspProcessReverseRequest

		SELECT @pbiReverse = i.ProcessId
		FROM @Item i;
	END 
	--Last Message uses @dtInitial
	IF @iLogLevel > 0
		INSERT INTO [dbo].[IFATiming](ProcessKey,SchemaName,ObjectName,Msg,Microseconds,DateExecuted)
		VALUES (@ncProcessKey,@ncSchemaName,@ncObjectName,N'Exit' ,DATEDIFF(microsecond,@dtInitial,SYSDATETIME()),SYSDATETIME());  

END
